# Dependencies
node_modules/

# Environment variables
.env

# Build outputs
build/
dist/

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Docker
*.env
.dockerignore